@font-face {
  font-family: 'Garamond';
  src: url('/assets/fonts/Adobe-Garamond-Pro_2012.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face{
  font-family:'Montserrat-Regular';
  src: url('/assets/fonts/Montserrat-Regular.otf') format('opentype');
}

div.header p,
div.header h2 {
  font-family: 'Garamond';
  line-height: 1.5em;
  font-size: 24px;
  text-transform: none;
  letter-spacing: 1px;
  font-weight: 400;
  font-style: italic;
  color: #fff;
}

div.header h1 strong {
  display: block;
  font-family: 'Montserrat-Regular';
  line-height: 1em;
  font-size: 68px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 700;
  font-style: normal;
  color: #fff;
}

ul.text-muted li {
  list-style-type: circle;
}

figcaption {
  background-color: rgba(0, 0, 0, 0.48);
  border-top-right-radius: 45px;

}

.navbar-abel a.navbar-brand {
  font-family: 'Montserrat-Regular';
  color: #666;
  font-size: 21px;
}